<div *ngIf="room">
    <h2>{{room.name}} details!</h2>
    <label>ID: </label>{{room.id}}
    <br>
    
    <label>Name: </label>
    <input [(ngModel)]="room.name" placeholder="name"/>
    <br>

    <label>Players:</label>
    <li *ngFor="let player of players">
        {{player.name}}
    </li>

    <label>Tiles:</label>
    <table>
        <tr *ngFor="let x of tiles">
            <td *ngFor="let y of x">
                <p *ngFor="let z of y">
                    {{z}}
                </p>
            </td>
        </tr>
    </table>
</div>